/*-- scss:rules --*/

// Define UBC and MDS colors
$ubc-blue: #136ecf;
$white: #FFFFFF;
$light-blue: #97D4E9;
$medium-blue: #6EC4E8;
$dark-blue: #062f5b;
$exercise-dark-green: #005f56;
$exercise-light-green: #88d4ab;
$exercise-dark-gray: #2f4f4f;
$exercise-light-gray: #dcdcdc;

.activity {
  margin: 1em 0;
  border: 2px solid $dark-blue;
  border-left: 10px solid $dark-blue; 
  border-radius: 10px;
}

.activity-header {
  margin-left: 0em;
  padding-left: 20px; /* Adjusted left padding */
  padding-top: 10px; /* Added top padding to center vertically */
  padding-bottom: 10px; /* Added bottom padding to center vertically */
  color: $white;
  background-color: $ubc-blue;
  border-top-right-radius: 10px;
  font-size: 0.9em; /* Adjusted title size to be slightly smaller */
  font-weight: bold;
  display: flex;
  align-items: center; /* Vertically center the content */
}

.activity-container {
  padding-top: 5px;
  padding-left: 10px;
  color: $dark-blue;
  background-color: $white;
  border-bottom-right-radius: 10px;
}

.exercise {
    margin: 1em 0;
    border: 2px solid $exercise-dark-gray;
    border-left: 10px solid $exercise-dark-green;
    border-radius: 10px;
  }
  
.exercise-header {
    margin-left: 0em;
    padding-left: 20px; /* Adjusted left padding */
    padding-top: 10px; /* Added top padding to center vertically */
    padding-bottom: 10px; /* Added bottom padding to center vertically */
    color: $white;
    background-color: $exercise-light-green;
    border-top-right-radius: 10px;
    font-size: 0.9em; /* Adjusted title size to be slightly smaller */
    font-weight: bold;
    display: flex;
    align-items: center; /* Vertically center the content */
  }
  
.exercise-container {
    padding-top: 5px;
    padding-left: 10px;
    color: $exercise-dark-gray;
    background-color: $white;
    border-bottom-right-radius: 10px;
  }
